In [ ]:
###          sql: limit  python: df.head()

In [200]:


# CREATE TABLE products (
#     CUSTOMER_KEY int,
#     PROD_TYPE nvarchar(50),
#     BALANCE int
# )



# INSERT INTO products (CUSTOMER_KEY, PROD_TYPE, BALANCE)

# VALUES
# (1001, 'ISA', 118414.38),
# (1001, 'TFSA', 20853.07),
# (1002, 'ISA', 3.63),
# (1003, 'ISA', 4.78),
# (1004, 'THRIVE', 4.83),
# (1005, 'ISA', 0.15),
# (1005, 'TFSA', 68.4),
# (1006, 'ISA', 0.01),
# (1007, 'TFSA', 5280.27),
# (1008, 'ISA', 96149.36),
# (1009, 'ISA', 185752.15),
# (1009, 'THRIVE', 20869.02),
# (1010, 'TFSA', 23.63),
# (1010, 'THRIVE', 6.47)

In [ ]:
# CREATE TABLE customers (
# 	CUSTOMER_KEY int, 
#   	CLIENT_DATE DATE, 
#   	AGE int, 
#   	REGION nvarchar(50), 
#   	NUM_OF_CONTACT int , 
#   	NUM_OF_TXN int , 
#   	EmailPermission nvarchar(50), 
#   	MailPermission nvarchar(50)
# )


# INSERT INTO customers (CUSTOMER_KEY, CLIENT_DATE, AGE, REGION, NUM_OF_CONTACT, NUM_OF_TXN, EmailPermission, MailPermission)

# VALUES
# (1001, '08-Apr-99', 87, 'Ontario', 10, '13', 'Y', 'N'),
# (1001, '08-Apr-99', 87, 'Ontario', 10, '13', 'Y', 'Y'),
# (1002, '29-Feb-00', 83, 'Ontario', 0, '.', 'Y', 'N'),
# (1003, '04-Nov-98', 44, 'Ontario', 0, '.', 'Y', 'N'),
# (1004, '16-Sep-98', 58, 'Alberta', 0, '.', 'Y', 'N'),
# (1005, '04-Oct-00', 50, 'BC', 0, '.', 'Y', 'N'),
# (1006, '01-May-00', 72, 'Ontario', 0, '.', 'Y', 'N'),
# (1007, '14-Jul-00', 48, 'Ontario', 0, '.', 'Y', 'N'),
# (1008, '13-Oct-00', 52, 'BC', 2, 3, 'Y', 'N'),
# (1009, '25-Sep-01', 67, 'Ontario', 9, 26, 'Y', 'N'),
# (1010, '24-Mar-00',	63, 'Ontario', 0, '.', 'N', 'N')

In [ ]:
# Remove duplication in customers Table, keep the last one
CREATE TABLE Customer_new AS 
SELECT *, row_number() over(partition by CUSTOMER_KEY Order BY row DESC) AS rank
FROM(
SELECT row_number() OVER() AS row , *
FROM Customers
)

# CREATE TABLE Customer_2 AS
# SELECT * FROM Customer_new
# WHERE rank == 1


# ALTER TABLE Customer_2 
#     DROP row
# ALTER TABLE Customer_2 
#     DROP rank
    
# DROP table Customer_new

In [ ]:
# Count_of_Products
SELECT CUSTOMER_KEY, 
    COUNT(CUSTOMER_KEY) AS Count_of_Products 
FROM(
    SELECT * 
    FROM Customers AS c
    LEFT JOIN Products AS p
    ON c.CUSTOMER_KEY = p.CUSTOMER_KEY)
GROUP BY CUSTOMER_KEY

# Count_of_Region
SELECT Region, 
    COUNT(Region) AS Count_of_Region 
FROM Customers AS c
GROUP BY Region

# Count_of_AGE
# SELECT AGE_category, 
#     COUNT(AGE_category) AS Count_of_AGE 
# FROM(
#     SELECT *, 
#     CASE WHEN AGE <30 AND AGE >= 0 THEN 'AGE < 30'
#     WHEN AGE <60 AND AGE >= 30 THEN '30 < AGE < 60'
#     ELSE 'AGE >= 60' END AS 'AGE_category'
#     FROM Customers AS c)
# GROUP BY AGE_category
  

# Count_of_PROD_TYPE
SELECT PROD_TYPE, 
    COUNT(PROD_TYPE) AS Count_of_PROD_TYPE 
FROM(
    SELECT * 
    FROM Customers AS c
    LEFT JOIN Products AS p
    ON c.CUSTOMER_KEY = p.CUSTOMER_KEY)
GROUP BY PROD_TYPE

# COUNT(NUM_OF_CONTACT) by REGION
SELECT REGION, 
    NUM_OF_CONTACT, 
    COUNT(NUM_OF_CONTACT) 
FROM Customers
GROUP BY REGION, NUM_OF_CONTACT

# COUNT(NUM_OF_CONTACT) by REGION, AGE_category
# SELECT REGION, 
#     AGE_category, 
#     NUM_OF_CONTACT, 
#     COUNT(NUM_OF_CONTACT) 
# FROM(
#     SELECT *, 
#         CASE WHEN AGE <30 AND AGE >= 0 THEN 'AGE < 30'
#         WHEN AGE <60 AND AGE >= 30 THEN '30 < AGE < 60'
#         ELSE 'AGE >= 60' END AS 'AGE_category'
# FROM Customers AS c)
# GROUP BY REGION, AGE_category, NUM_OF_CONTACT

# Balance
SELECT CUSTOMER_KEY, 
    SUM(BALANCE) AS Balance 
FROM(
    SELECT * FROM Customers AS c
    LEFT JOIN Products AS p
    ON c.CUSTOMER_KEY = p.CUSTOMER_KEY)
GROUP BY CUSTOMER_KEY

In [ ]:
#2.1. Identify potential cross-sell target (customers who do not have Chequing product with ABC Bank)

In [ ]:
%%sql
SELECT * 
FROM new
WHERE CUSTOMER_KEY NOT IN (
SELECT CUSTOMER_KEY
FROM new
WHERE PROD_TYPE == 'THRIVE' )

In [163]:
import pandas as pd
import sqlite3
data = pd.read_excel('Products.xls')
cnn = sqlite3.connect('juypter_sql_tutorial.db')
#data.to_sql('df', cnn)
%load_ext sql
%sql sqlite:///juypter_sql_tutorial.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [64]:
%%sql
CREATE TABLE new AS
SELECT *, 
    CASE WHEN PROD_TYPE =='THRIVE' THEN '1'
    ELSE '0' END AS 'THRIVE_1_OTHERS_0' 
FROM products AS p
LEFT JOIN customers AS c
ON p.CUSTOMER_KEY = c.CUSTOMER_KEY

 * sqlite:///juypter_sql_tutorial.db
Done.

[(0, 1001, 'ISA', 118414.38, '0'),
 (1, 1001, 'TFSA', 20853.07, '0'),
 (2, 1002, 'ISA', 3.63, '0'),
 (3, 1003, 'ISA', 4.78, '0'),
 (4, 1004, 'ISA', 4.83, '0'),
 (5, 1005, 'ISA', 0.15, '0'),
 (6, 1005, 'TFSA', 68.4, '0'),
 (7, 1006, 'ISA', 0.01, '0'),
 (8, 1007, 'TFSA', 5280.27, '0'),
 (9, 1008, 'ISA', 96149.36, '0'),
 (10, 1009, 'ISA', 185752.15, '0'),
 (11, 1009, 'TFSA', 20869.02, '0'),
 (12, 1010, 'ISA', 23.63, '0'),
 (13, 1010, 'RSP_DEP', 6.47, '0'),
 (14, 1011, 'ISA', 7232.07, '0'),
 (15, 1012, 'ISA', 3.36, '0'),
 (16, 1013, 'ISA', 13795.91, '0'),
 (17, 1013, 'RSP_DEP', 38756.43, '0'),
 (18, 1013, 'TFSA', 20856.66, '0'),
 (19, 1013, 'THRIVE', 100.22, '1'),
 (20, 1014, 'TFSA', 3863.42, '0'),
 (21, 1015, 'ISA', 2457.35, '0'),
 (22, 1016, 'ISA', 7488.57, '0'),
 (23, 1017, 'ISA', 1026.58, '0'),
 (24, 1018, 'ISA', 24.18, '0'),
 (25, 1019, 'ISA', 64511.62, '0'),
 (26, 1019, 'MTG', 68768.35, '0'),
 (27, 1020, 'ISA', 27652.51, '0'),
 (28, 1020, 'TFSA', 20644.4, '0'),
 (29, 1021, 'ISA', 229.99, '0'),
 (30, 1022, 'ISA', 25131.02, '0'),
 (31, 1023, 'ISA', 660.76, '0'),
 (32, 1023, 'THRIVE', 2166.29, '1'),
 (33, 1024, 'ISA', 3992.63, '0'),
 (34, 1025, 'ISA', 22223.9, '0'),
 (35, 1025, 'TFSA', 8194.35, '0'),
 (36, 1026, 'ISA', 8816.54, '0'),
 (37, 1027, 'ISA', 17941.07, '0'),
 (38, 1027, 'MF', 5101.0, '0'),
 (39, 1027, 'RSP_DEP', 1.25, '0'),
 (40, 1027, 'TFSA', 16871.63, '0'),
 (41, 1028, 'ISA', 2781.09, '0'),
 (42, 1029, 'ISA', 177782.09, '0'),
 (43, 1029, 'RSP_DEP', 5725.32, '0'),
 (44, 1029, 'TFSA', 20644.4, '0'),
 (45, 1030, 'ISA', 975.44, '0'),
 (46, 1030, 'TFSA', 0.63, '0'),
 (47, 1031, 'ISA', 3412.88, '0'),
 (48, 1031, 'TFSA', 11.55, '0'),
 (49, 1032, 'ISA', 2.67, '0'),
 (50, 1033, 'GIC', 300000.0, '0'),
 (51, 1033, 'ISA', 31168.16, '0'),
 (52, 1033, 'TFSA', 15502.69, '0'),
 (53, 1034, 'GIC', 11662.5, '0'),
 (54, 1034, 'ISA', 29711.66, '0'),
 (55, 1035, 'ISA', 5.82, '0'),
 (56, 1035, 'TFSA', 16.84, '0'),
 (57, 1036, 'ISA', 5078.57, '0'),
 (58, 1037, 'ISA', 180936.89, '0'),
 (59, 1038, 'ISA', 20799.13, '0'),
 (60, 1038, 'TFSA', 20854.36, '0'),
 (61, 1039, 'ISA', 0.11, '0'),
 (62, 1039, 'TFSA', 0.89, '0'),
 (63, 1039, 'THRIVE', 0.01, '1'),
 (64, 1040, 'ISA', 1834.62, '0'),
 (65, 1040, 'TFSA', 2608.17, '0'),
 (66, 1041, 'ISA', 16249.25, '0'),
 (67, 1042, 'ISA', 27109.5, '0'),
 (68, 1043, 'ISA', 0.06, '0'),
 (69, 1044, 'ISA', 8.39, '0'),
 (70, 1045, 'GIC', 545.68, '0'),
 (71, 1045, 'ISA', 413.2, '0'),
 (72, 1045, 'RSP_DEP', 3811.19, '0'),
 (73, 1045, 'TFSA', 425.74, '0'),
 (74, 1045, 'THRIVE', 377.4, '1'),
 (75, 1046, 'ISA', 0.0, '0'),
 (76, 1046, 'TFSA', 5331.09, '0'),
 (77, 1047, 'GIC', 78198.36, '0'),
 (78, 1047, 'ISA', 8567.77, '0'),
 (79, 1047, 'RSP_DEP', 45334.0, '0'),
 (80, 1047, 'TFSA', 10370.46, '0'),
 (81, 1048, 'ISA', 324.32, '0'),
 (82, 1049, 'ISA', 56876.68, '0'),
 (83, 1049, 'TFSA', 15626.85, '0'),
 (84, 1050, 'ISA', 2.15, '0'),
 (85, 1051, 'ISA', 43514.45, '0'),
 (86, 1052, 'ISA', 24494.3, '0'),
 (87, 1053, 'ISA', 44701.8, '0'),
 (88, 1053, 'MF', 5137.29, '0'),
 (89, 1053, 'TFSA', 20771.68, '0'),
 (90, 1055, 'ISA', 31287.02, '0'),
 (91, 1055, 'TFSA', 15455.44, '0'),
 (92, 1056, 'ISA', 2.46, '0'),
 (93, 1057, 'TFSA', 13776.06, '0'),
 (94, 1058, 'ISA', 2.64, '0'),
 (95, 1059, 'ISA', 454.02, '0'),
 (96, 1060, 'GIC', 49989.73, '0'),
 (97, 1060, 'ISA', 15434.47, '0'),
 (98, 1060, 'TFSA', 2596.42, '0'),
 (99, 1061, 'ISA', 1260.02, '0'),
 (100, 1061, 'MF', 1911.05, '0'),
 (101, 1061, 'RSP_DEP', 245.15, '0'),
 (102, 1061, 'TFSA', 301.73, '0'),
 (103, 1062, 'RSP_DEP', 8496.59, '0'),
 (104, 1063, 'ISA', 343.55, '0'),
 (105, 1063, 'TFSA', 2744.14, '0'),
 (106, 1063, 'THRIVE', 45.02, '1'),
 (107, 1064, 'ISA', 0.08, '0'),
 (108, 1064, 'TFSA', 0.0, '0'),
 (109, 1065, 'GIC', 74184.54, '0'),
 (110, 1065, 'ISA', 91222.66, '0'),
 (111, 1065, 'MF', 16076.89, '0'),
 (112, 1065, 'TFSA', 5061.81, '0'),
 (113, 1066, 'ISA', 7592.98, '0'),
 (114, 1066, 'TFSA', 16.12, '0'),
 (115, 1067, 'ISA', 14242.55, '0'),
 (116, 1067, 'TFSA', 20442.8, '0'),
 (117, 1068, 'ISA', 60.52, '0'),
 (118, 1068, 'MTG', 183525.67, '0'),
 (119, 1069, 'ISA', 11.61, '0'),
 (120, 1070, 'ISA', 0.11, '0'),
 (121, 1071, 'ISA', 3653.92, '0'),
 (122, 1072, 'GIC', 60957.82, '0'),
 (123, 1072, 'ISA', 32016.62, '0'),
 (124, 1073, 'TFSA', 20306.41, '0'),
 (125, 1074, 'ISA', 105296.46, '0'),
 (126, 1075, 'ISA', 6395.46, '0'),
 (127, 1075, 'RSP_DEP', 0.0, '0'),
 (128, 1075, 'TFSA', 0.0, '0'),
 (129, 1077, 'ISA', 0.0, '0'),
 (130, 1077, 'MF', 4887.58, '0'),
 (131, 1077, 'RSP_DEP', 57025.92, '0'),
 (132, 1077, 'TFSA', 20855.66, '0'),
 (133, 1078, 'GIC', 1193.55, '0'),
 (134, 1078, 'ISA', 39.39, '0'),
 (135, 1078, 'TFSA', 6750.86, '0'),
 (136, 1079, 'ISA', 4228.21, '0'),
 (137, 1080, 'MF', 8151.91, '0'),
 (138, 1080, 'RSP_DEP', 20391.23, '0'),
 (139, 1080, 'TFSA', 395.13, '0'),
 (140, 1081, 'GIC', 122845.59, '0'),
 (141, 1081, 'ISA', 79236.31, '0'),
 (142, 1081, 'TFSA', 31504.51, '0'),
 (143, 1082, 'ISA', 47849.86, '0'),
 (144, 1082, 'RSP_DEP', 11677.54, '0'),
 (145, 1082, 'TFSA', 20701.77, '0'),
 (146, 1083, 'ISA', 39.24, '0'),
 (147, 1084, 'ISA', 1769.77, '0'),
 (148, 1085, 'ISA', 1583.11, '0'),
 (149, 1085, 'RSP_DEP', 1273.02, '0'),
 (150, 1085, 'TFSA', 0.0, '0'),
 (151, 1086, 'ISA', 29869.58, '0'),
 (152, 1087, 'ISA', 103.64, '0'),
 (153, 1088, 'ISA', 64.84, '0'),
 (154, 1089, 'ISA', 323823.59, '0'),
 (155, 1089, 'RSP_DEP', 4743.96, '0'),
 (156, 1089, 'TFSA', 20963.97, '0'),
 (157, 1090, 'GIC', 27348.65, '0'),
 (158, 1090, 'ISA', 54939.75, '0'),
 (159, 1090, 'TFSA', 20800.94, '0'),
 (160, 1091, 'ISA', 1.07, '0'),
 (161, 1091, 'RSP_DEP', 14.86, '0'),
 (162, 1091, 'TFSA', 0.02, '0'),
 (163, 1091, 'THRIVE', 2.57, '1'),
 (164, 1092, 'ISA', 882.75, '0'),
 (165, 1093, 'ISA', 400.49, '0'),
 (166, 1094, 'ISA', 697.58, '0'),
 (167, 1094, 'TFSA', 58.27, '0'),
 (168, 1095, 'ISA', 5435.81, '0'),
 (169, 1095, 'MF', 556.35, '0'),
 (170, 1095, 'TFSA', 15530.92, '0'),
 (171, 1096, 'ISA', 2436.18, '0'),
 (172, 1097, 'ISA', 198.09, '0'),
 (173, 1098, 'ISA', 0.11, '0'),
 (174, 1098, 'MF', 16582.84, '0'),
 (175, 1098, 'RSP_DEP', 21210.65, '0'),
 (176, 1098, 'TFSA', 0.02, '0'),
 (177, 1099, 'ISA', 211.6, '0'),
 (178, 1099, 'TFSA', 20749.12, '0'),
 (179, 1100, 'ISA', 167.71, '0'),
 (180, 1101, 'ISA', 9.06, '0'),
 (181, 1102, 'ISA', 5966.25, '0'),
 (182, 1102, 'RSP_DEP', 17529.27, '0'),
 (183, 1102, 'TFSA', 1018.29, '0'),
 (184, 1102, 'THRIVE', 2914.84, '1'),
 (185, 1103, 'ISA', 208428.39, '0'),
 (186, 1103, 'TFSA', 20659.62, '0'),
 (187, 1104, 'ISA', 1793.95, '0'),
 (188, 1104, 'RSP_DEP', 1514.32, '0'),
 (189, 1105, 'ISA', 0.58, '0'),
 (190, 1106, 'ISA', 43.53, '0'),
 (191, 1106, 'RSP_DEP', 11.26, '0'),
 (192, 1106, 'THRIVE', 10.07, '1'),
 (193, 1107, 'TFSA', 10399.61, '0'),
 (194, 1108, 'ISA', 111.63, '0'),
 (195, 1109, 'ISA', 255200.68, '0'),
 (196, 1109, 'RSP_DEP', 82194.41, '0'),
 (197, 1109, 'TFSA', 20776.03, '0'),
 (198, 1109, 'THRIVE', 153.68, '1'),
 (199, 1110, 'ISA', 9.37, '0'),
 (200, 1110, 'RSP_DEP', 6681.4, '0'),
 (201, 1110, 'TFSA', 579.79, '0'),
 (202, 1110, 'THRIVE', 1042.08, '1'),
 (203, 1111, 'ISA', 220993.02, '0'),
 (204, 1111, 'RSP_DEP', 7415.99, '0'),
 (205, 1111, 'TFSA', 20860.11, '0'),
 (206, 1112, 'ISA', 2089.53, '0'),
 (207, 1113, 'ISA', 107425.5, '0'),
 (208, 1114, 'ISA', 1.28, '0'),
 (209, 1115, 'GIC', 13339.38, '0'),
 (210, 1115, 'ISA', 95246.73, '0'),
 (211, 1115, 'RSP_DEP', 15628.18, '0'),
 (212, 1115, 'TFSA', 20949.37, '0'),
 (213, 1116, 'ISA', 8712.92, '0'),
 (214, 1117, 'ISA', 104916.62, '0'),
 (215, 1117, 'TFSA', 13828.19, '0'),
 (216, 1118, 'ISA', 9896.92, '0'),
 (217, 1118, 'TFSA', 8226.62, '0'),
 (218, 1119, 'ISA', 255.39, '0'),
 (219, 1119, 'TFSA', 0.0, '0'),
 (220, 1120, 'ISA', 82565.7, '0'),
 (221, 1121, 'ISA', 150.85, '0'),
 (222, 1122, 'ISA', 2515.02, '0'),
 (223, 1123, 'ISA', 4086.67, '0'),
 (224, 1123, 'TFSA', 5474.29, '0'),
 (225, 1124, 'TFSA', 12992.04, '0'),
 (226, 1125, 'ISA', 311001.12, '0'),
 (227, 1125, 'TFSA', 15856.38, '0'),
 (228, 1126, 'ISA', 4.04, '0'),
 (229, 1126, 'TFSA', 0.0, '0'),
 (230, 1127, 'ISA', 3124.06, '0'),
 (231, 1127, 'TFSA', 26.92, '0'),
 (232, 1128, 'ISA', 81.99, '0'),
 (233, 1129, 'ISA', 1784.29, '0'),
 (234, 1129, 'TFSA', 5474.29, '0'),
 (235, 1130, 'ISA', 451.03, '0'),
 (236, 1131, 'ISA', 19.18, '0'),
 (237, 1132, 'ISA', 807.01, '0'),
 (238, 1132, 'TFSA', 2.56, '0'),
 (239, 1133, 'TFSA', 5455.83, '0'),
 (240, 1134, 'ISA', 213.42, '0'),
 (241, 1134, 'TFSA', 0.02, '0'),
 (242, 1135, 'ISA', 818.51, '0'),
 (243, 1136, 'ISA', 0.13, '0'),
 (244, 1136, 'TFSA', 3.31, '0'),
 (245, 1137, 'ISA', 0.35, '0'),
 (246, 1138, 'TFSA', 1.25, '0'),
 (247, 1139, 'ISA', 322.39, '0'),
 (248, 1139, 'MF', 30799.76, '0'),
 (249, 1139, 'RSP_DEP', 10.87, '0'),
 (250, 1139, 'THRIVE', 0.02, '1'),
 (251, 1140, 'ISA', 0.01, '0'),
 (252, 1140, 'TFSA', 0.02, '0'),
 (253, 1141, 'ISA', 0.06, '0'),
 (254, 1141, 'RSP_DEP', 6201.82, '0'),
 (255, 1141, 'TFSA', 2363.18, '0'),
 (256, 1142, 'ISA', 97425.78, '0'),
 (257, 1142, 'MF', 73521.77, '0'),
 (258, 1142, 'RSP_DEP', 10934.58, '0'),
 (259, 1142, 'TFSA', 20602.62, '0'),
 (260, 1143, 'ISA', 2129.01, '0'),
 (261, 1143, 'TFSA', 15534.25, '0'),
 (262, 1144, 'ISA', 64.89, '0'),
 (263, 1144, 'RSP_DEP', 7500.0, '0'),
 (264, 1145, 'ISA', 104.57, '0'),
 (265, 1146, 'ISA', 4.94, '0'),
 (266, 1146, 'MTG', 204979.04, '0'),
 (267, 1146, 'RSP_DEP', 52665.87, '0'),
 (268, 1148, 'ISA', 9996.23, '0'),
 (269, 1149, 'ISA', 3502.17, '0'),
 (270, 1150, 'ISA', 10.74, '0'),
 (271, 1151, 'ISA', 4.4, '0'),
 (272, 1152, 'ISA', 0.05, '0'),
 (273, 1152, 'RSP_DEP', 0.05, '0'),
 (274, 1153, 'ISA', 99625.46, '0'),
 (275, 1153, 'RSP_DEP', 60614.81, '0'),
 (276, 1154, 'GIC', 40000.0, '0'),
 (277, 1154, 'ISA', 13148.56, '0'),
 (278, 1155, 'ISA', 86.09, '0'),
 (279, 1155, 'TFSA', 5350.37, '0'),
 (280, 1156, 'ISA', 56471.06, '0'),
 (281, 1156, 'TFSA', 20934.02, '0'),
 (282, 1157, 'GIC', 54994.47, '0'),
 (283, 1157, 'ISA', 70346.4, '0'),
 (284, 1157, 'MF', 129636.17, '0'),
 (285, 1157, 'TFSA', 16087.98, '0'),
 (286, 1158, 'RSP_DEP', 38330.49, '0'),
 (287, 1159, 'TFSA', 24.78, '0'),
 (288, 1160, 'GIC', 14116.15, '0'),
 (289, 1160, 'ISA', 172660.21, '0'),
 (290, 1160, 'MF', 15950.42, '0'),
 (291, 1160, 'RSP_DEP', 24033.81, '0'),
 (292, 1160, 'TFSA', 21084.05, '0'),
 (293, 1161, 'ISA', 126.01, '0'),
 (294, 1162, 'ISA', 108769.17, '0'),
 (295, 1162, 'MF', 51283.62, '0'),
 (296, 1162, 'RSP_DEP', 30096.61, '0'),
 (297, 1162, 'TFSA', 20856.88, '0'),
 (298, 1163, 'ISA', 5060.66, '0'),
 (299, 1163, 'RSP_DEP', 7292.44, '0'),
 (300, 1164, 'ISA', 43.44, '0'),
 (301, 1164, 'MF', 7161.36, '0'),
 (302, 1164, 'TFSA', 617.04, '0'),
 (303, 1165, 'ISA', 97.38, '0'),
 (304, 1165, 'MF', 7138.14, '0'),
 (305, 1165, 'MTG', 194267.8, '0'),
 (306, 1165, 'RSP_DEP', 19953.23, '0'),
 (307, 1165, 'TFSA', 10593.25, '0'),
 (308, 1166, 'ISA', 17340.79, '0'),
 (309, 1167, 'ISA', 79760.48, '0'),
 (310, 1168, 'ISA', 221.96, '0'),
 (311, 1169, 'GIC', 184322.04, '0'),
 (312, 1169, 'ISA', 1954.84, '0'),
 (313, 1169, 'TFSA', 10898.02, '0'),
 (314, 1170, 'ISA', 1.27, '0'),
 (315, 1171, 'ISA', 38395.99, '0'),
 (316, 1171, 'TFSA', 5488.12, '0'),
 (317, 1172, 'ISA', 150.61, '0'),
 (318, 1172, 'MF', 2294.15, '0'),
 (319, 1172, 'MTG', 107214.26, '0'),
 (320, 1172, 'RSP_DEP', 21897.67, '0'),
 (321, 1172, 'TFSA', 17043.13, '0'),
 (322, 1173, 'ISA', 3.23, '0'),
 (323, 1174, 'ISA', 3.88, '0'),
 (324, 1175, 'ISA', 52440.42, '0'),
 (325, 1175, 'RSP_DEP', 0.0, '0'),
 (326, 1176, 'ISA', 1065.27, '0'),
 (327, 1177, 'ISA', 14.67, '0'),
 (328, 1178, 'ISA', 5994.18, '0'),
 (329, 1179, 'ISA', 7374.71, '0'),
 (330, 1179, 'RSP_DEP', 1368.66, '0'),
 (331, 1180, 'ISA', 6815.88, '0'),
 (332, 1180, 'RSP_DEP', 15314.34, '0'),
 (333, 1180, 'TFSA', 850.08, '0'),
 (334, 1181, 'ISA', 16470.21, '0'),
 (335, 1181, 'RSP_DEP', 2196.48, '0'),
 (336, 1181, 'TFSA', 20680.29, '0'),
 (337, 1181, 'THRIVE', 385.57, '1'),
 (338, 1182, 'TFSA', 20858.73, '0'),
 (339, 1183, 'ISA', 4.87, '0'),
 (340, 1184, 'ISA', 11049.98, '0'),
 (341, 1184, 'TFSA', 1611.5, '0'),
 (342, 1185, 'ISA', 119584.75, '0'),
 (343, 1186, 'ISA', 0.1, '0'),
 (344, 1187, 'ISA', 3578.42, '0'),
 (345, 1187, 'MF', 19477.3, '0'),
 (346, 1188, 'RSP_DEP', 0.16, '0'),
 (347, 1188, 'TFSA', 11.4, '0'),
 (348, 1189, 'GIC', 25626.71, '0'),
 (349, 1189, 'ISA', 552492.45, '0'),
 (350, 1189, 'TFSA', 20847.95, '0'),
 (351, 1189, 'THRIVE', 1790.17, '1'),
 (352, 1190, 'ISA', 9.59, '0'),
 (353, 1190, 'RSP_DEP', 9966.76, '0'),
 (354, 1190, 'TFSA', 6528.26, '0'),
 (355, 1190, 'THRIVE', 20.14, '1'),
 (356, 1191, 'ISA', 100.06, '0'),
 (357, 1191, 'THRIVE', 7.03, '1'),
 (358, 1192, 'ISA', 11593.55, '0'),
 (359, 1192, 'RSP_DEP', 6070.28, '0'),
 (360, 1193, 'ISA', 11560.42, '0'),
 (361, 1193, 'TFSA', 18797.72, '0'),
 (362, 1193, 'THRIVE', 233.53, '1'),
 (363, 1194, 'ISA', 17990.98, '0'),
 (364, 1194, 'TFSA', 20870.23, '0'),
 (365, 1194, 'THRIVE', 25.03, '1'),
 (366, 1195, 'ISA', 1263.4, '0'),
 (367, 1195, 'MF', 7431.33, '0'),
 (368, 1195, 'RSP_DEP', 1026.5, '0'),
 (369, 1195, 'THRIVE', 1354.06, '1'),
 (370, 1196, 'ISA', 0.07, '0'),
 (371, 1196, 'TFSA', 4018.24, '0'),
 (372, 1196, 'THRIVE', 401.64, '1'),
 (373, 1197, 'ISA', 2271.5, '0'),
 (374, 1197, 'MF', 1358.53, '0'),
 (375, 1197, 'THRIVE', 200.45, '1'),
 (376, 1198, 'TFSA', 20846.58, '0'),
 (377, 1199, 'GIC', 6500.0, '0'),
 (378, 1199, 'ISA', 15199.39, '0'),
 (379, 1199, 'MF', 6476.41, '0'),
 (380, 1199, 'MTG', 25286.44, '0'),
 (381, 1199, 'RSP_DEP', 20356.71, '0'),
 (382, 1199, 'TFSA', 16708.63, '0'),
 (383, 1199, 'THRIVE', 3347.98, '1'),
 (384, 1200, 'ISA', 58.95, '0'),
 (385, 1200, 'TFSA', 8662.17, '0'),
 (386, 1200, 'THRIVE', 100.01, '1'),
 (387, 1201, 'ISA', 5.99, '0'),
 (388, 1201, 'RSP_DEP', 9.99, '0'),
 (389, 1201, 'TFSA', 975.43, '0'),
 (390, 1201, 'THRIVE', 771.14, '1'),
 (391, 1202, 'ISA', 13698.51, '0'),
 (392, 1202, 'TFSA', 20859.56, '0'),
 (393, 1202, 'THRIVE', 100.18, '1'),
 (394, 1203, 'ISA', 1.74, '0'),
 (395, 1204, 'ISA', 69.67, '0'),
 (396, 1204, 'MF', 3826.16, '0'),
 (397, 1204, 'RSP_DEP', 7043.09, '0'),
 (398, 1204, 'TFSA', 1135.67, '0'),
 (399, 1204, 'THRIVE', 160.86, '1'),
 (400, 1205, 'ISA', 1334.81, '0'),
 (401, 1205, 'RSP_DEP', 151799.8, '0'),
 (402, 1205, 'TFSA', 20521.43, '0'),
 (403, 1205, 'THRIVE', 1515.32, '1'),
 (404, 1206, 'ISA', 1.05, '0'),
 (405, 1206, 'THRIVE', 217.98, '1'),
 (406, 1207, 'ISA', 4.09, '0'),
 (407, 1207, 'RSP_DEP', 0.32, '0'),
 (408, 1207, 'TFSA', 3.07, '0'),
 (409, 1207, 'THRIVE', 10.0, '1'),
 (410, 1208, 'ISA', 49651.86, '0'),
 (411, 1208, 'TFSA', 20860.11, '0'),
 (412, 1208, 'THRIVE', 529.79, '1'),
 (413, 1209, 'ISA', 1.26, '0'),
 (414, 1209, 'MTG', 136712.99, '0'),
 (415, 1209, 'RSP_DEP', 0.44, '0'),
 (416, 1209, 'TFSA', 8.82, '0'),
 (417, 1209, 'THRIVE', 2401.75, '1'),
 (418, 1210, 'ISA', 0.1, '0'),
 (419, 1210, 'TFSA', 129.43, '0'),
 (420, 1210, 'THRIVE', 4.7, '1'),
 (421, 1211, 'ISA', 5510.55, '0'),
 (422, 1211, 'TFSA', 0.0, '0'),
 (423, 1211, 'THRIVE', 0.0, '1'),
 (424, 1212, 'GIC', 3105.57, '0'),
 (425, 1212, 'ISA', 2447.42, '0'),
 (426, 1212, 'RSP_DEP', 24800.53, '0'),
 (427, 1212, 'THRIVE', 7044.67, '1'),
 (428, 1213, 'ISA', 5.35, '0'),
 (429, 1213, 'TFSA', 128.14, '0'),
 (430, 1213, 'THRIVE', 2163.99, '1'),
 (431, 1214, 'ISA', 23985.8, '0'),
 (432, 1214, 'TFSA', 4922.3, '0'),
 (433, 1214, 'THRIVE', 100.23, '1'),
 (434, 1215, 'ISA', 514.17, '0'),
 (435, 1215, 'RSP_DEP', 57644.67, '0'),
 (436, 1215, 'THRIVE', 71.7, '1'),
 (437, 1216, 'GIC', 10603.0, '0'),
 (438, 1216, 'ISA', 10285.69, '0'),
 (439, 1216, 'MF', 7029.02, '0'),
 (440, 1216, 'RSP_DEP', 9710.45, '0'),
 (441, 1216, 'TFSA', 354.89, '0'),
 (442, 1216, 'THRIVE', 1153.38, '1'),
 (443, 1217, 'ISA', 5.9, '0'),
 (444, 1217, 'THRIVE', 586.28, '1'),
 (445, 1218, 'ISA', 0.57, '0'),
 (446, 1219, 'ISA', 382.53, '0'),
 (447, 1219, 'THRIVE', 57.15, '1'),
 (448, 1220, 'ISA', 1117.35, '0'),
 (449, 1220, 'THRIVE', 5.05, '1'),
 (450, 1221, 'GIC', 9910.54, '0'),
 (451, 1221, 'ISA', 11503.04, '0'),
 (452, 1221, 'RSP_DEP', 30278.44, '0'),
 (453, 1221, 'TFSA', 20805.81, '0'),
 (454, 1222, 'ISA', 46236.51, '0'),
 (455, 1222, 'MF', 22323.49, '0'),
 (456, 1222, 'TFSA', 0.83, '0'),
 (457, 1222, 'THRIVE', 3003.32, '1'),
 (458, 1223, 'ISA', 4.8, '0'),
 (459, 1224, 'ISA', 68322.53, '0'),
 (460, 1224, 'RSP_DEP', 16007.85, '0'),
 (461, 1224, 'TFSA', 20650.93, '0'),
 (462, 1224, 'THRIVE', 0.14, '1'),
 (463, 1225, 'ISA', 8.85, '0'),
 (464, 1225, 'RSP_DEP', 19462.48, '0'),
 (465, 1225, 'TFSA', 61.04, '0'),
 (466, 1225, 'THRIVE', 0.24, '1'),
 (467, 1226, 'ISA', 30855.69, '0'),
 (468, 1226, 'MF', 1077.43, '0'),
 (469, 1226, 'THRIVE', 277.72, '1'),
 (470, 1227, 'ISA', 17348.08, '0'),
 (471, 1227, 'TFSA', 0.01, '0'),
 (472, 1228, 'ISA', 100224.0, '0'),
 (473, 1228, 'THRIVE', 7030.04, '1'),
 (474, 1229, 'ISA', 0.06, '0'),
 (475, 1229, 'TFSA', 9.62, '0'),
 (476, 1230, 'ISA', 72941.92, '0'),
 (477, 1230, 'THRIVE', 81.61, '1'),
 (478, 1231, 'GIC', 23637.86, '0'),
 (479, 1231, 'ISA', 3756.2, '0'),
 (480, 1231, 'RSP_DEP', 37498.47, '0'),
 (481, 1231, 'TFSA', 20725.19, '0'),
 (482, 1231, 'THRIVE', 34955.77, '1'),
 (483, 1232, 'ISA', 5704.65, '0'),
 (484, 1232, 'THRIVE', 321.04, '1'),
 (485, 1233, 'ISA', 172319.08, '0'),
 (486, 1233, 'MF', 231866.91, '0'),
 (487, 1233, 'THRIVE', 148.05, '1'),
 (488, 1234, 'ISA', 24.09, '0'),
 (489, 1234, 'MTG', 187111.61, '0'),
 (490, 1234, 'THRIVE', 10.05, '1'),
 (491, 1235, 'ISA', 35834.89, '0'),
 (492, 1235, 'MF', 29805.39, '0'),
 (493, 1235, 'RSP_DEP', 0.06, '0'),
 (494, 1235, 'TFSA', 105.39, '0'),
 (495, 1235, 'THRIVE', 104.64, '1'),
 (496, 1236, 'ISA', 24734.65, '0'),
 (497, 1236, 'MF', 20134.46, '0'),
 (498, 1236, 'RSP_DEP', 2732.95, '0'),
 (499, 1236, 'TFSA', 20824.53, '0'),
 (500, 1236, 'THRIVE', 10.06, '1'),
 (501, 1237, 'ISA', 1.04, '0'),
 (502, 1237, 'TFSA', 1.09, '0'),
 (503, 1238, 'ISA', 5.02, '0'),
 (504, 1239, 'ISA', 277350.24, '0'),
 (505, 1239, 'THRIVE', 30.05, '1'),
 (506, 1240, 'ISA', 1126.92, '0'),
 (507, 1240, 'MF', 20047.05, '0'),
 (508, 1240, 'TFSA', 692.98, '0'),
 (509, 1240, 'THRIVE', 1458.28, '1'),
 (510, 1241, 'ISA', 9.91, '0'),
 (511, 1241, 'THRIVE', 20.07, '1'),
 (512, 1242, 'ISA', 20079.13, '0'),
 (513, 1242, 'THRIVE', 659.92, '1'),
 (514, 1243, 'ISA', 0.92, '0'),
 (515, 1243, 'THRIVE', 3503.98, '1'),
 (516, 1244, 'ISA', 9422.85, '0'),
 (517, 1244, 'TFSA', 5747.77, '0'),
 (518, 1244, 'THRIVE', 361.82, '1'),
 (519, 1245, 'ISA', 27031.62, '0'),
 (520, 1245, 'RSP_DEP', 57928.25, '0'),
 (521, 1245, 'TFSA', 15454.43, '0'),
 (522, 1245, 'THRIVE', 100.19, '1'),
 (523, 1246, 'ISA', 506.57, '0'),
 (524, 1246, 'THRIVE', 336.7, '1'),
 (525, 1247, 'ISA', 204.1, '0'),
 (526, 1247, 'TFSA', 5061.51, '0'),
 (527, 1247, 'THRIVE', 1801.23, '1'),
 (528, 1248, 'ISA', 952.75, '0'),
 (529, 1249, 'MTG', 290588.98, '0'),
 (530, 1249, 'TFSA', 6.17, '0'),
 (531, 1250, 'ISA', 960.35, '0'),
 (532, 1250, 'MF', 3422.91, '0'),
 (533, 1250, 'MTG', 105085.55, '0'),
 (534, 1250, 'RSP_DEP', 11534.44, '0'),
 (535, 1250, 'TFSA', 4977.88, '0'),
 (536, 1250, 'THRIVE', 250.58, '1'),
 (537, 1251, 'ISA', 2.62, '0'),
 (538, 1252, 'GIC', 1368.66, '0'),
 (539, 1252, 'ISA', 5.4, '0'),
 (540, 1253, 'ISA', 2155.9, '0'),
 (541, 1253, 'MF', 13353.3, '0'),
 (542, 1253, 'MTG', 224427.34, '0'),
 (543, 1253, 'RSP_DEP', 11053.71, '0'),
 (544, 1253, 'THRIVE', 891.81, '1'),
 (545, 1254, 'TFSA', 1107.44, '0'),
 (546, 1254, 'THRIVE', 100.21, '1'),
 (547, 1255, 'ISA', 14691.33, '0'),
 (548, 1255, 'RSP_DEP', 6843.53, '0'),
 (549, 1255, 'TFSA', 20250.94, '0'),
 (550, 1256, 'ISA', 2367.35, '0'),
 (551, 1256, 'THRIVE', 90.0, '1'),
 (552, 1257, 'ISA', 54766.92, '0'),
 (553, 1258, 'ISA', 17710.66, '0'),
 (554, 1258, 'MTG', 127749.31, '0'),
 (555, 1258, 'TFSA', 20860.11, '0'),
 (556, 1258, 'THRIVE', 3628.39, '1'),
 (557, 1259, 'ISA', 6036.85, '0'),
 (558, 1260, 'ISA', 0.52, '0'),
 (559, 1260, 'TFSA', 0.04, '0'),
 (560, 1260, 'THRIVE', 0.33, '1'),
 (561, 1261, 'ISA', 18176.39, '0'),
 (562, 1261, 'MTG', 364500.85, '0'),
 (563, 1261, 'THRIVE', 10.88, '1'),
 (564, 1262, 'ISA', 3092.33, '0'),
 (565, 1262, 'THRIVE', 281.32, '1'),

In [ ]:
# BY total count
%%sql
SELECT THRIVE_1_OTHERS_0, 
    COUNT(THRIVE_1_OTHERS_0) AS Number_of_Thrive, 
    COUNT(THRIVE_1_OTHERS_0)*100/(SELECT COUNT(*) FROM new) AS Percentage 
FROM new
GROUP BY THRIVE_1_OTHERS_0

In [82]:
# BY region with THRIVE
%%sql
SELECT REGION, 
    SUM(THRIVE_1_OTHERS_0),
    SUM(THRIVE_1_OTHERS_0)*100/(SELECT SUM(THRIVE_1_OTHERS_0) FROM new) AS Percentage
FROM new
GROUP BY REGION


SELECT REGION, 
    COUNT(THRIVE_1_OTHERS_0), 
    COUNT(THRIVE_1_OTHERS_0)*100/(SELECT COUNT(*) FROM new) AS Percentage
FROM new
WHERE PROD_TYPE != 'THRIVE'
GROUP BY REGION

SyntaxError: invalid syntax (2167120172.py, line 3)

In [ ]:
# BY AGE

SELECT AGE_category, 
    COUNT(AGE_category), 
    COUNT(AGE_category)*100/(SELECT COUNT(*) FROM New 
    WHERE PROD_TYPE == 'THRIVE') AS Percentage
FROM(
    SELECT *, 
        CASE WHEN AGE <30 AND AGE >= 0 THEN 'AGE < 30'
        WHEN AGE <60 AND AGE >= 30 THEN '30 < AGE < 60'
        ELSE 'AGE >= 60' END AS 'AGE_category'
    FROM New)
WHERE PROD_TYPE != 'THRIVE'
GROUP BY AGE_category

In [ ]:
# BY Balance
SELECT Balance_category, 
    COUNT(Balance_category), 
    COUNT(Balance_category)*100/(SELECT COUNT(*) FROM New) AS Percentage
FROM(
    SELECT *, 
    CASE WHEN BALANCE < (SELECT MAX(BALANCE)/4 FROM new) AND BALANCE >= (SELECT MIN(BALANCE) FROM new) THEN 'Balance 1'
  
    WHEN BALANCE <(SELECT MAX(BALANCE)*2/4 FROM new) AND BALANCE >= (SELECT MAX(BALANCE)/4 FROM new) THEN 'Balance 2'
  
    WHEN BALANCE <(SELECT MAX(BALANCE)*3/4 FROM new) AND BALANCE >= (SELECT MAX(BALANCE)*2/4 FROM new) THEN 'Balance 3'
  
    ELSE 'Balance 4' END AS 'Balance_category'
    FROM New)

WHERE PROD_TYPE != 'THRIVE'
GROUP BY Balance_category

In [ ]:
#2.2. What is the Deposit Balance Distribution? Potential target group vs. Customer base.

In [ ]:
# Potential target group 
SELECT Balance_category, 
    COUNT(Balance_category), 
    COUNT(Balance_category)*100/(SELECT COUNT(*) FROM New) AS Percentage
FROM(
  
    SELECT *, 
    CASE WHEN BALANCE < (SELECT MAX(BALANCE)/4 FROM new) AND BALANCE >= (SELECT MIN(BALANCE) FROM new) THEN 'Balance 1'
  
    WHEN BALANCE <(SELECT MAX(BALANCE)*2/4 FROM new) AND BALANCE >= (SELECT MAX(BALANCE)/4 FROM new) THEN 'Balance 2'
  
    WHEN BALANCE <(SELECT MAX(BALANCE)*3/4 FROM new) AND BALANCE >= (SELECT MAX(BALANCE)*2/4 FROM new) THEN 'Balance 3'
  
    ELSE 'Balance 4' END AS 'Balance_category'
FROM New)

WHERE PROD_TYPE != 'THRIVE'
GROUP BY Balance_category



# Customer base.
SELECT Balance_category, 
    COUNT(Balance_category), 
    COUNT(Balance_category)*100/(SELECT COUNT(*) FROM New) AS Percentage
FROM(
    SELECT *, 
    CASE WHEN BALANCE < (SELECT MAX(BALANCE)/4 FROM new) AND BALANCE >= (SELECT MIN(BALANCE) FROM new) THEN 'Balance 1'
  
    WHEN BALANCE <(SELECT MAX(BALANCE)*2/4 FROM new) AND BALANCE >= (SELECT MAX(BALANCE)/4 FROM new) THEN 'Balance 2'
  
    WHEN BALANCE <(SELECT MAX(BALANCE)*3/4 FROM new) AND BALANCE >= (SELECT MAX(BALANCE)*2/4 FROM new) THEN 'Balance 3'
  
    ELSE 'Balance 4' END AS 'Balance_category'
    FROM New)

GROUP BY Balance_category

In [ ]:
#2.3. Are these high or low Deposit balance customers?

In [ ]:
# BY Balance
SELECT Balance_category, 
    COUNT(Balance_category), 
    COUNT(Balance_category)*100/(SELECT COUNT(*) FROM New) AS Percentage
FROM(
  
    SELECT *, 
    CASE WHEN BALANCE < (SELECT MAX(BALANCE)/2 FROM new) AND BALANCE >= (SELECT MIN(BALANCE) FROM new) THEN 'Low Balance'
    
    ELSE 'High Balance ' END AS 'Balance_category'
    FROM New)

WHERE PROD_TYPE != 'THRIVE'
GROUP BY Balance_category

In [ ]:
#2.4. How long have these clients been with the bank (year)?

In [11]:
import pandas as pd
import sqlite3
data = pd.read_excel('Customers.xls')
cnn = sqlite3.connect('juypter_sql_tutorial.db')
# data.to_sql('df', cnn)
%load_ext sql
%sql sqlite:///juypter_sql_tutorial.db

In [101]:
%%sql

SELECT (SELECT max(STRFTIME('%Y', CLIENT_DATE)) FROM df) - STRFTIME('%Y', CLIENT_DATE) AS year_of_joining
FROM df

 * sqlite:///juypter_sql_tutorial.db
Done.

[(13,),
 (12,),
 (14,),
 (14,),
 (12,),
 (12,),
 (12,),
 (12,),
 (11,),
 (12,),
 (11,),
 (11,),
 (10,),
 (13,),
 (12,),
 (12,),
 (15,),
 (12,),
 (14,),
 (11,),
 (12,),
 (14,),
 (11,),
 (13,),
 (14,),
 (13,),
 (11,),
 (13,),
 (15,),
 (13,),
 (12,),
 (11,),
 (12,),
 (12,),
 (11,),
 (14,),
 (14,),
 (14,),
 (10,),
 (11,),
 (12,),
 (14,),
 (11,),
 (14,),
 (11,),
 (14,),
 (14,),
 (12,),
 (11,),
 (14,),
 (11,),
 (13,),
 (11,),
 (11,),
 (11,),
 (14,),
 (13,),
 (11,),
 (12,),
 (12,),
 (15,),
 (12,),
 (14,),
 (13,),
 (14,),
 (11,),
 (12,),
 (14,),
 (13,),
 (12,),
 (13,),
 (15,),
 (12,),
 (11,),
 (13,),
 (13,),
 (13,),
 (12,),
 (12,),
 (14,),
 (14,),
 (13,),
 (11,),
 (15,),
 (15,),
 (13,),
 (11,),
 (12,),
 (11,),
 (14,),
 (10,),
 (11,),
 (12,),
 (11,),
 (15,),
 (15,),
 (12,),
 (11,),
 (12,),
 (13,),
 (12,),
 (11,),
 (14,),
 (14,),
 (12,),
 (11,),
 (14,),
 (11,),
 (11,),
 (12,),
 (11,),
 (12,),
 (12,),
 (14,),
 (13,),
 (12,),
 (13,),
 (5,),
 (14,),
 (12,),
 (13,),
 (13,),
 (14,),
 (13,),
 (12,),
 (14,),
 (14,),
 (14,),
 (13,),
 (14,),
 (11,),
 (13,),
 (13,),
 (14,),
 (14,),
 (11,),
 (11,),
 (11,),
 (10,),
 (11,),
 (13,),
 (14,),
 (11,),
 (13,),
 (13,),
 (11,),
 (11,),
 (14,),
 (13,),
 (11,),
 (12,),
 (11,),
 (14,),
 (13,),
 (13,),
 (15,),
 (15,),
 (13,),
 (11,),
 (13,),
 (15,),
 (11,),
 (15,),
 (12,),
 (14,),
 (15,),
 (14,),
 (11,),
 (14,),
 (11,),
 (14,),
 (13,),
 (13,),
 (11,),
 (14,),
 (12,),
 (12,),
 (11,),
 (12,),
 (13,),
 (9,),
 (12,),
 (11,),
 (11,),
 (11,),
 (11,),
 (14,),
 (4,),
 (14,),
 (4,),
 (10,),
 (11,),
 (14,),
 (10,),
 (12,),
 (13,),
 (14,),
 (4,),
 (14,),
 (11,),
 (13,),
 (11,),
 (4,),
 (14,),
 (15,),
 (9,),
 (10,),
 (13,),
 (9,),
 (12,),
 (13,),
 (10,),
 (4,),
 (12,),
 (14,),
 (13,),
 (11,),
 (13,),
 (8,),
 (10,),
 (11,),
 (12,),
 (11,),
 (13,),
 (11,),
 (15,),
 (4,),
 (10,),
 (12,),
 (12,),
 (12,),
 (10,),
 (12,),
 (10,),
 (10,),
 (12,),
 (11,),
 (11,),
 (14,),
 (13,),
 (11,),
 (10,),
 (12,),
 (10,),
 (13,),
 (10,),
 (14,),
 (4,),
 (5,),
 (12,),
 (11,),
 (12,),
 (12,),
 (11,),
 (11,),
 (5,),
 (12,),
 (10,),
 (14,),
 (10,),
 (9,),
 (15,),
 (9,),
 (10,),
 (14,),
 (13,),
 (12,),
 (10,),
 (13,),
 (14,),
 (15,),
 (12,),
 (10,),
 (13,),
 (14,),
 (15,),
 (9,),
 (10,),
 (13,),
 (12,),
 (9,),
 (11,),
 (14,),
 (10,),
 (15,),
 (4,),
 (9,),
 (12,),
 (13,),
 (11,),
 (14,),
 (14,),
 (11,),
 (14,),
 (10,),
 (10,),
 (10,),
 (9,),
 (14,),
 (12,),
 (9,),
 (12,),
 (5,),
 (14,),
 (15,),
 (10,),
 (12,),
 (10,),
 (9,),
 (14,),
 (13,),
 (4,),
 (10,),
 (4,),
 (6,),
 (13,),
 (15,),
 (12,),
 (9,),
 (14,),
 (13,),
 (9,),
 (14,),
 (10,),
 (11,),
 (13,),
 (10,),
 (8,),
 (10,),
 (12,),
 (11,),
 (15,),
 (13,),
 (9,),
 (11,),
 (11,),
 (12,),
 (10,),
 (12,),
 (13,),
 (14,),
 (12,),
 (15,),
 (13,),
 (13,),
 (13,),
 (11,),
 (14,),
 (14,),
 (12,),
 (9,),
 (10,),
 (11,),
 (13,),
 (9,),
 (10,),
 (10,),
 (12,),
 (1,),
 (15,),
 (15,),
 (4,),
 (9,),
 (11,),
 (10,),
 (4,),
 (9,),
 (12,),
 (11,),
 (13,),
 (13,),
 (13,),
 (14,),
 (12,),
 (14,),
 (12,),
 (13,),
 (11,),
 (14,),
 (13,),
 (12,),
 (4,),
 (11,),
 (4,),
 (9,),
 (9,),
 (10,),
 (12,),
 (12,),
 (9,),
 (13,),
 (13,),
 (11,),
 (10,),
 (11,),
 (11,),
 (15,),
 (11,),
 (12,),
 (15,),
 (14,),
 (11,),
 (13,),
 (12,),
 (14,),
 (5,),
 (3,),
 (7,),
 (12,),
 (10,),
 (14,),
 (13,),
 (10,),
 (13,),
 (12,),
 (12,),
 (12,),
 (13,),
 (9,),
 (5,),
 (14,),
 (12,),
 (11,),
 (9,),
 (11,),
 (13,),
 (11,),
 (14,),
 (12,),
 (11,),
 (15,),
 (12,),
 (12,),
 (11,),
 (12,),
 (14,),
 (15,),
 (11,),
 (10,),
 (13,),
 (11,),
 (14,),
 (13,),
 (10,),
 (14,),
 (15,),
 (10,),
 (10,),
 (10,),
 (10,),
 (13,),
 (11,),
 (2,),
 (9,),
 (13,),
 (13,),
 (10,),
 (13,),
 (14,),
 (10,),
 (10,),
 (13,),
 (12,),
 (3,),
 (12,),
 (10,),
 (13,),
 (12,),
 (5,),
 (11,),
 (10,),
 (11,),
 (9,),
 (13,),
 (10,),
 (13,),
 (10,),
 (14,),
 (14,),
 (11,),
 (11,),
 (12,),
 (14,),
 (15,),
 (15,),
 (4,),
 (9,),
 (14,),
 (12,),
 (13,),
 (11,),
 (10,),
 (4,),
 (9,),
 (11,),
 (13,),
 (14,),
 (12,),
 (10,),
 (13,),
 (11,),
 (4,),
 (10,),
 (10,),
 (13,),
 (10,),
 (14,),
 (11,),
 (12,),
 (4,),
 (14,),
 (11,),
 (10,),
 (12,),
 (9,),
 (14,),
 (9,),
 (4,),
 (10,),
 (15,),
 (13,),
 (9,),
 (11,),
 (11,),
 (13,),
 (2,),
 (9,),
 (4,),
 (5,),
 (5,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (1,),
 (2,),
 (4,),
 (4,),
 (2,),
 (5,),
 (2,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (2,),
 (5,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (2,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (0,),
 (4,),
 (4,),
 (4,),
 (1,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (0,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (3,),
 (2,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (1,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (2,),
 (2,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (2,),
 (5,),
 (0,),
 (2,),
 (4,),
 (4,),
 (4,),
 (1,),
 (4,),
 (4,),
 (2,),
 (4,),
 (1,),
 (5,),
 (4,),
 (4,),
 (4,),
 (1,),
 (4,),
 (4,),
 (5,),
 (0,),
 (1,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (2,),
 (3,),
 (4,),
 (1,),
 (4,),
 (5,),
 (4,),
 (0,),
 (5,),
 (2,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (2,),
 (4,),
 (4,),
 (4,),
 (1,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (2,),
 (4,),
 (4,),
 (1,),
 (5,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (2,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (2,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (0,),
 (4,),
 (4,),
 (4,),
 (1,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (2,),
 (4,),
 (5,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (2,),
 (4,),
 (0,),
 (0,),
 (4,),
 (4,),
 (4,),
 (4,),
 (0,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (0,),
 (3,),
 (4,),
 (5,),
 (4,),
 (5,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (2,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (0,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (2,),
 (4,),
 (1,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (0,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (2,),
 (4,),
 (2,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (1,),
 (5,),
 (4,),
 (4,),
 (1,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (0,),
 (4,),
 (5,),
 (3,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (0,),
 (4,),
 (4,),
 (4,),
 (5,),
 (5,),
 (4,),
 (2,),
 (4,),
 (4,),
 (4,),
 (2,),
 (3,),
 (4,),
 (2,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (5,),
 (4,),
 (3,),
 (1,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (1,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (0,),
 (4,),
 (1,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (2,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (1,),
 (4,),
 (4,),
 (2,),
 (4,),
 (1,),
 (4,),
 (4,),
 (3,),
 (0,),
 (0,),
 (1,),
 (3,),
 (3,),
 (1,),
 (2,),
 (0,),
 (4,),
 (5,),
 (3,),
 (0,),
 (3,)]

In [144]:
%%sql

CREATE TABLE tenure AS 
SELECT year_of_joining, 
    COUNT(year_of_joining) AS count
FROM(
    SELECT (SELECT max(STRFTIME('%Y', CLIENT_DATE)) FROM df) - STRFTIME('%Y', CLIENT_DATE) AS year_of_joining
    FROM df) AS sub
GROUP BY year_of_joining

 * sqlite:///juypter_sql_tutorial.db
Done.

[]

In [149]:
%%sql

SELECT *, (count*100/(SELECT sum(count) FROM tenure)) AS percentage FROM tenure

 * sqlite:///juypter_sql_tutorial.db
Done.

[(0, 19, 1),
 (1, 22, 2),
 (2, 31, 3),
 (3, 47, 4),
 (4, 316, 31),
 (5, 69, 6),
 (6, 1, 0),
 (7, 1, 0),
 (8, 2, 0),
 (9, 31, 3),
 (10, 61, 6),
 (11, 100, 10),
 (12, 94, 9),
 (13, 88, 8),
 (14, 85, 8),
 (15, 33, 3)]

In [ ]:
#2.5. On average, how many products do they have? And what other products do they hold?

In [ ]:
SELECT CUSTOMER_KEY, 
    COUNT(PROD_TYPE) 
FROM new
GROUP BY CUSTOMER_KEY

In [209]:
SELECT sum(prod_count)/COUNT(CUSTOMER_KEY) AS AVG 
FROM(
    SELECT CUSTOMER_KEY, 
    COUNT(PROD_TYPE) AS prod_count 
    FROM new
    GROUP BY CUSTOMER_KEY)


SELECT PROD_TYPE, COUNT(PROD_TYPE) AS prod_count FROM new
GROUP BY PROD_TYPE

 * sqlite:///juypter_sql_tutorial.db

In [ ]:
#2.6. Any other insights that would add value to the initiative?

In [ ]:
SELECT PROD_TYPE, 
    AGE_category, 
    COUNT(AGE_category) AS Count_of_AGE 
FROM(
    SELECT *, 
        CASE WHEN AGE <30 AND AGE >= 0 THEN 'AGE < 30'
        WHEN AGE <60 AND AGE >= 30 THEN '30 < AGE < 60'
        ELSE 'AGE >= 60' END AS 'AGE_category'
    FROM new)
WHERE PROD_TYPE != 'THRIVE'
GROUP BY AGE_category, PROD_TYPE

SELECT PROD_TYPE, 
    AGE_category, 
    COUNT(AGE_category) AS Count_of_AGE 
FROM(
    SELECT *, 
        CASE WHEN AGE <30 AND AGE >= 0 THEN 'AGE < 30'
        WHEN AGE <60 AND AGE >= 30 THEN '30 < AGE < 60'
        ELSE 'AGE >= 60' END AS 'AGE_category'
FROM new)
WHERE PROD_TYPE == 'THRIVE'
GROUP BY AGE_category, PROD_TYPE





SELECT PROD_TYPE, 
    Region, 
    COUNT(Region) AS Count_of_Region 
FROM new
GROUP BY Region, PROD_TYPE 
ORDER BY COUNT(Region) DESC

In [ ]:
CREATE TABLE new1 AS 
SELECT *, 
    CASE WHEN NUM_OF_CONTACT <10 AND NUM_OF_CONTACT >= 0 THEN 'NUM_OF_CONTACT < 10'
    WHEN NUM_OF_CONTACT <20 AND NUM_OF_CONTACT >= 10 THEN '10 < NUM_OF_CONTACT < 20'
    ELSE 'NUM_OF_CONTACT >= 20' END AS 'CONT_category'
FROM new


SELECT PROD_TYPE, 
    CONT_category, 
    COUNT(CONT_category) 
FROM new1
GROUP BY PROD_TYPE, CONT_category
ORDER BY COUNT(CONT_category) DESC


SELECT PROD_TYPE, 
    CONT_category, 
    COUNT(CONT_category)
FROM new1
WHERE PROD_TYPE != 'THRIVE'
GROUP BY PROD_TYPE, CONT_category
ORDER BY COUNT(CONT_category) DESC


SELECT PROD_TYPE, 
    EmailPermission, 
    COUNT(EmailPermission) 
FROM new1
WHERE PROD_TYPE != 'THRIVE'
GROUP BY PROD_TYPE, EmailPermission
ORDER BY COUNT(EmailPermission) DESC


SELECT PROD_TYPE, 
    MailPermission, 
    COUNT(MailPermission)  
FROM new1
WHERE PROD_TYPE != 'THRIVE'
GROUP BY PROD_TYPE, MailPermission	
ORDER BY COUNT(MailPermission) DESC

In [ ]:
UPDATE new1 
SET NUM_OF_TXN ='0'
WHERE NUM_OF_TXN =='.'

CREATE TABLE new2 AS 
SELECT *, 
    CASE WHEN NUM_OF_TXN <10 AND NUM_OF_TXN >= 0 THEN 'NUM_OF_TXN < 10'
    WHEN NUM_OF_TXN <20 AND NUM_OF_TXN >= 10 THEN '10 < NUM_OF_TXN < 20'
    ELSE 'NUM_OF_TXN >= 20' END AS 'TXN_category'
FROM new1

In [ ]:
#III. Campaign Development and Management

In [ ]:
# YY, YN  finish email first 
SELECT ROUND(0.05*COUNT(CUSTOMER_KEY),2) AS Total_cost_email 
FROM(
    SELECT DISTINCT CUSTOMER_KEY, 
    EmailPermission, 
    MailPermission 
    FROM new1
    WHERE CUSTOMER_KEY NOT IN(
        SELECT CUSTOMER_KEY 
        FROM new1
        WHERE PROD_TYPE == 'THRIVE') 
    AND EmailPermission == 'Y' )

In [ ]:
# YY->x, NY  then mail  
SELECT ROUND(1.75*COUNT(CUSTOMER_KEY),2) AS Total_cost_mail 
FROM(
    SELECT DISTINCT CUSTOMER_KEY, 
    EmailPermission, 
    MailPermission 
    FROM new1
    WHERE CUSTOMER_KEY NOT IN(SELECT CUSTOMER_KEY 
                              FROM new1
                              WHERE PROD_TYPE == 'THRIVE') 
    AND EmailPermission == 'N' AND MailPermission == 'Y'
) AS t1